$smaller: 0.75em;
$medium: 1em;
$bigger: 1.5em;
$dark: #20262E;
$darkLevel2: #475058;

body {
    background-color: $dark;
    color: $darkLevel2
}
.smaller {
    font-size: $smaller;
}
.medium {
    font-size: $medium;
}

.bigger {
    font-size: $bigger;
}
